.contact-container {
  padding: 100px;
  max-width: 1500px;
  margin-top: 200px;
  margin-left: 180px;
  margin-bottom: 150px;
  background-color: #fff9f0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #d35400;
  text-align: center;
}

.contact-info p {
  text-align: center;
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}

.contact-info a {
  color: #d35400;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
