.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffa142;
  padding: 10px 20px;
  height: 80px;
  width: 100%;
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  margin-top: 10px;
  margin-right: 460px;
  height: 90px;
  object-fit: contain;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar-menu li {
  transition: all 0.5s ease;
  padding: 0.25rem;
  position: relative;
  cursor: pointer;
}

.navbar-menu li a {
  font-weight: bold;
  color: #3a3a3a;
  text-decoration: none;
}

.navbar-menu li:hover {
  color: black;
  border-bottom: 1px solid purple;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  background-color: #fdac5a;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.submenu li {
  padding: 5px 10px;
}

.submenu.active {
  display: block;
}

.hamburger {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  color: #3a3a3a;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }

  .navbar-menu {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: #ffa142;
    padding: 10px 0;
  }

  .navbar-menu.active {
    display: flex;
  }

  .navbar-menu li {
    text-align: center;
    padding: 10px 0;
  }
}
